<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <title>What to Eat</title>

  <h1>
    Angular firestore
  </h1>
</div>

<body ng-app = "app">
    <div class="container">
    <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <img src="img/logo.png" class="center-block" alt="logo" />
            <h4>How does it work?</h4>
            <h6>Type a restaurant name and we'll pull up reviews for the dishes</h6>
              <div id="imaginary_container">
                  <div class="input-group stylish-input-group">
                      <input type="text" class="form-control"  placeholder="Restaurant Name" >
                      <span class="input-group-addon">
                        <a href="results.html" role="button">
                          <button type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                          </a>
                      </span>
                  </div>
              </div>
          </div>
    </div>
    </div>

</body>


<div style="text-align:center">
New Feature: Next generation Firestore (Beta) Realtime DB
<br>
<ul>
  <li class="text" style="display:unset" *ngFor="let mealItem of mealItems | async">
    {{mealItem.mealName}}

    {{mealItem.restaurantName}}
    {{mealItem.description}}
    {{mealItem.sentimentScore}}

    {{mealItem.timestamp}}
    {{mealItem.user}}
    {{mealItem.zipcode}}

    {{mealItem.review}}

  </li>
</ul>
</div>
